

.react-bootstrap-table {
  overflow-x: auto !important;
}
// Here you can add other styles
.rbc-event-content {
  max-height: 100px;
  word-wrap: break-word !important;
  word-break: break-word !important;
  overflow-wrap: break-word;
}

body {
}

.main .container-fluid {
}

.table-hover tbody tr:hover > td {
  cursor: pointer;
}

.fab-container {
  bottom: 0vh;
  position: fixed;
  margin: 1em;
  right: 2vw;
}

.dropdown-header {
  background-color: #1abb9c;
}

.btn-primary {
  color: white;
}
.dropdown-toggle {
  width: "100%";
}

.card-header {
  color: white;
  background-color: white !important;
  font-size: 22px;
  color: black;
  font-weight: none !important;
  border-top: 0px solid #1abb9c !important;
}

.card {
  background-color: transparent !important;
  border: 0px solid transparent !important;
}

.col-hidden {
  display: none;
}

.animated {
  margin-left: -25px;
  margin-right: -25px;
}

.mytable {
  overflow: auto;
  display: block;
  table-layout: auto;
}

.app-header {
  border: 0px solid transparent;
}

.sem-imagem-small {
  max-width: 100px;
  max-height: 75px;
  min-height: 75px;
  background-color: #bababa;
  color: #ffffff;
  text-align: center;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sem-avatar-small {
  max-width: 75px;
  max-height: 75px;
  min-height: 75px;
  background-color: #bababa;
  color: #ffffff;
  text-align: center;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sem-imagem-tiny {
  max-width: 40px;
  max-height: 20px;
  min-height: 20px;
  background-color: #bababa;
  color: #ffffff;
  text-align: center;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sem-imagem-2 {
  max-width: 100px;
  max-height: 150px;
  min-height: 150px;
  background-color: #bababa;
  color: #ffffff;
  text-align: center;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sem-imagem {
  max-width: 200px;
  max-height: 150px;
  min-height: 150px;
  background-color: #bababa;
  color: #ffffff;
  text-align: center;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-brand {
  margin-right: 80px !important;
}

.navbar-brand-full {
  margin-left: 110px;
}

@media only screen and (max-width: 600px) {
  .navbar-brand-full {
    margin-left: 0px;
  }
}

.table-wrapper-scroll-y {
  display: block;
}

.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
}

// Will edit selected date or the endpoints of a range of dates
.CalendarDay__selected {
  background: red;
  color: white;
}

// Will edit when hovered over. _span style also has this property
.CalendarDay__selected:hover {
  background: orange;
  color: white;
}

.my-col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
  padding-left: 0px !important;
}

.login_app {
  background: white;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.mybody {
  background: red !important;
  width: 100%;
  height: 100%;
}

.my-primary-color {
  color: theme-color("primary");
}

.sidebar .nav-dropdown.open {
  border-left: 3px solid theme-color("primary");
}

.mymap-size {
  margin-left: -30px;
  margin-top: -25px;
  height: calc(100vh - 110px) !important;
  width: calc(100vw - 300px) !important;
}

@media only screen and (max-width: 600px) {
  .mymap-size {
    margin-left: -30px;
    margin-top: -25px;
    height: calc(100vh - 110px) !important;
    width: 100vw !important;
  }
}

body {
}

.mylogin {
  position: relative;
  margin: auto;
  padding: 10px 10px 5px;
  max-width: 300px;
  height: auto;
  background-color: black;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-family: Verdana, Arial, Helvetica, sans-serif;

  height: 275px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.fa {
  margin-left: 5px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.input-text {
  background: none;
  background-image: none;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  color: #fff;
  border-left: 0;
}

.input-text:focus {
  background: none;
  background-image: none;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  color: #fff;
  border-left: 0;
}

.input-text::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: white;
  opacity: 0.8;
}

.input-text:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: white;
  opacity: 0.8;
}

.input-text::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: white;
  opacity: 0.8;
}

.input-text:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
  opacity: 0.8;
}

.login-text-muted {
  color: white !important;
  opacity: 0.7;
}

.driverlist ul {
  float: left; /*height:320px*/
  margin: 0;
  overflow-y: scroll;
  padding: 0;
  width: 100%;
}
.driverlist ul li {
  margin: 0px;
  padding: 15px 0;
  float: left;
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.driverlist ul li:hover {
  background: #f3f3f3;
  cursor: pointer;
}
.driverlist ul li:last-child {
  border: none;
}
.driverlist ul li label {
  margin: 0 0 0 5px;
  padding: 0px;
  float: left;
  width: 50px;
  position: relative;
}
.driverlist ul li label img {
  width: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.driverlist ul li label .map-tab-img1 img {
  width: 40px;
  position: relative;
}
.driverlist ul li p {
  margin: 2px 0 0 10px;
  padding: 0px;
  float: left;
  width: 51%;
  color: #333;
  font-size: 15px;
}
.driverlist ul li p b {
  margin: 0px;
  padding: 0px;
  float: left;
  width: 100%;
  color: #333;
  font-size: 14px;
  font-weight: normal;
}
.driverlist ul li a {
  float: right;
  margin: 0 7px 0 0;
}
