// Variable overrides
// https://github.com/coreui/coreui/blob/master/scss/_variables.scss

$primary:#E95327 !default;
$secondary:red !default;

$sidebar-width: 200px !default;

//$sidebar-bg: #E95327 !default;
// $navbar-bg:  #E95327 !default;

$sidebar-header-height: 100px !default;

$navbar-brand-width: 90px !default;
$navbar-height: 90px !default;

$sidebar-nav-link-hover-color: #fff !default;
$sidebar-nav-link-hover-bg: theme-color("primary") !default;
